@font-face {
  font-family: "iconfont"; /* Project id 3873637 */
  src: url('/static/unielepystatic/font/iconfont.woff2?t=1675134168712') format('woff2'),
       url('/static/unielepystatic/font/iconfont.woff?t=1675134168712') format('woff'),
       url('/static/unielepystatic/font/iconfont.ttf?t=1675134168712') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-left:before {
  content: "\e84f";
}

.icon-mobile:before {
  content: "\e7b3";
}

.icon-safety-certificate:before {
  content: "\e776";
}

.icon-search:before {
  content: "\e8ef";
}

.icon-iconfontphone:before {
  content: "\e634";
}

.icon-Account:before {
  content: "\e649";
}

.icon-passwd:before {
  content: "\e605";
}

